page-contact {

}

#fbGgalleryAlbumContainerId {
  ion-card {
    position: relative;
    text-align: center;
    padding-bottom: 60%;
    overflow: hidden;

    img{
      position:absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      width: auto;
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}